{% load staticfiles %}
{% load static swampdragon_tags %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DrumBack - Drumback</title>
<link href="{% static "css/style.css" %}"rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
<audio id="up_voice"><source src={% static "music/up.wav" %} type="audio/wav" preload="auto"></audio>
<audio id="down_voice"><source src={% static "music/down.wav" %} type="audio/wav" preload="auto"></audio>
<audio id="left_voice"><source src={% static "music/left.wav" %} type="audio/wav" preload="auto"></audio>
<audio id="right_voice"><source src={% static "music/right.wav" %} type="audio/wav" preload="auto"></audio>

<div align="center" class="container">

<img src="{% static "imgs/Logo.png" %}" style="margin:40px auto;" />
<br />

<div class="topbar">Dish | Jacketpotato, Start drumming!</div>
<div class="circle"></div>
<div class="boxcontainer">
<br />
<div class="dcircle"></div>
<br />
<br>
<img id="dislike" src="imgs/dislike.png" style="position:absolute left:50px"></img>
<img id="like" src="imgs/like.png" style="position:absolute right:50px"></img>
<br>
<a style="text-decoration:none;" href="challengemode.html"><div class="buttonblack">Go to Challenge Mode!</div></a>
</div>
</div>

<script>
//TODO event listener to constantly call update when there is input from Arduino
var pos = 0;
function update() {
	if (pos < 0) {
		document.getElementById(dislike).style.visibility = "visible";
		document.getElementById(dislike).style.height = 64*0.2*(-pos+1);
		document.getElementById(dislike).style.height = 47*0.2*(-pos+1);
		document.getElementById(like).style.visibility = "hidden";
	}
	else {
		document.getElementById(like).style.visibility = "visible";
		document.getElementById(like).style.height = 64*0.2*(-pos+1);
		document.getElementById(like).style.height = 47*0.2*(-pos+1);
		document.getElementById(dislike).style.visibility = "hidden";
	}	
}
</script>
</div>

</div>
    {% swampdragon_settings %}
    <script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/drum_ani.js' %}"></script>
</body>

</html>
