<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DrumBack</title>
<link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

<div align="center" class="container">

<img src="imgs/Logo.png" style="margin:40px auto;" />
<br />

<div class="topbar">Thanks so much for dining with us!</div>
<div class="circle"></div>
<div class="boxcontainer">
<br />
Before you leave, would you like to give a DrumBack "Feedback" about your food?
<a style="text-decoration:none;" href="start.html"><div class="buttonblack">Yes, let's do it</div></a>
</div>

</div>

</body>

</html>
