<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DrumBack - Start</title>
<link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

<div align="center" class="container">

<img src="imgs/Logo.png" style="margin:40px auto;" />
<br />

<div class="topbar">Yet, before we start drumming!</div>
<div class="circle"></div>
<div class="boxcontainer">
<br />
Can you tell us what was your dishes?
<a style="text-decoration:none;"><div id="start" onclick="Function1()" class="buttonblack">Start Speaking</div>
	<img id="loader" src="imgs/loader01.gif" style="width:50px;height:50px;visibility:hidden">
        <script>
            function Function1() {
                document.getElementById("start").innerHTML = "Recording...";
                setTimeout(Function2,4000);
            }
            function Function2() {
                document.getElementById("start").innerHTML = "Processing...";
                document.getElementById("loader").style.visibility = "visible";
                setTimeout(Function3,4000);
            }
            function Function3() {
                window.location.href = 'drum.html';
            }
        </script>
</a>

</div>

</div>

</body>

</html>
